body {
  background-color: rgb(35, 56, 72);
  margin: 0;
  height: 100vh;
}

header {
  font-weight: 800;
  font-size: clamp(16px, 5vw, 80px);
  color: rgb(173, 40, 40);
  -webkit-text-stroke: 0.05em rgb(0, 0, 0);
}

p {
  font-weight: 700;
  font-size: clamp(16px, 2vw, 80px);
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 0.04em rgb(0, 0, 0);
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2%;
}

.score {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
}
